<div class="container p-5">
  <div class="cart p-5 my-5 col-6 bg-dark text-light border-secondary">
    <h2 class="text-light">Edit <%= resource_name.to_s.humanize %></h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="py-3">
        <% if resource.avatar.attached? %>
          <%= image_tag(resource.avatar_thumbnail, class: 'rounded') %>
        <% else %>
          <%= image_tag('default_profile.jpg', style: 'width: 100px; height: 100px;', class: 'rounded') %>
        <% end %>
      </div>

      <div>
        <%= f.file_field :avatar, class:'form-control' %>
      </div>

      <div>
        <%= f.label :email, class: 'form-label' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="mt-2">
        <%= f.label :password, class: 'form-label' %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class:'form-control' %>

        <small class="text-muted">
          <% if @minimum_password_length %>
            <%= @minimum_password_length %> characters minimum
          <% end %>
        </small>
      </div>

      <div class="mt-2">
        <%= f.label :password_confirmation, class: 'form-label' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control' %>
      </div>

      <div class="mt-2">
        <%= f.label :current_password, class: 'form-label' %>
        <%= f.password_field :current_password, autocomplete: "current-password", class:'form-control' %>
        <small class="text-muted">
          need your current password to confirm your changes
        </small><br />
      </div>

      <div class="mt-3">
        <%= f.submit "Update", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>

  <h5 class="text-muted">Cancel my account</h5>
  <%= button_to "Cancel my account", registration_path(resource_name), method: :delete, class: 'btn btn-danger' %>
</div>
