<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand me-5" href="/"><h3>Turbo Chat</h3></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if current_user %>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              My messages
            </a>
            <ul class="dropdown-menu dropdown-menu-dark p-5" style="min-width: 500px;">
              <% current_user.messages.each do |message| %>
                <li><span></span><%= message.body %></li>
                <li><small class="text-muted"><%= message.created_at %></small></li>
                <li><hr class="dropdown-divider"></li>
              <% end %>
            </ul>
          </li>
        </ul>
        <small class="text-muted me-3">
          <%= current_user.email %>
        </small>
        <%= button_to 'Logout', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to 'Login', new_user_session_path, class: 'btn btn-success me-2' %>
        <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</nav>
<hr class="p-0 m-0">
