<!DOCTYPE html>
<html>
  <head>
    <title>Turbo Chat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <style media="screen">
      <%= ".msg-#{current_user&.id}" %> {
        background-color: #007eff !important;
        padding: 10px;
      }

      <%= ".cont-#{current_user&.id}" %> {
        display: flex;
        justify-content: flex-enx;
      }
    </style>
  </head>

  <body class=" bg-dark">
    <header>
      <%= render 'layouts/nav' %>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
